.content {
    display: flex;
    justify-content:space-evenly;
    height:90%;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #02e620);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #02e620); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
    
  }
  

 


  .settings {
    margin-top:10%;
    width: 15%;
    margin-left: -17%;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    font-family: "Poppins", sans-serif;
    font-weight: 300;

  }
  .settings>span{
    text-align: center;
  }
  
  .banner {
    max-width: 100%; 
     height: 80vh;
  
    width: 100%;
    align-self: center;
    padding: 8px;
  }
  
  @media (max-width: 800px) {
    .content {
      flex-direction: column-reverse;
      align-items: center;
    }
    .banner {
      
      width: 100%;
      padding: 0;
      padding-top: 20px;
    }
    .settings {
      width: 65%;
    }
    .settings>span{
      text-align: center;
    }
  }
  
  .settings__select {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* width: 100%; */
    /* flex: 0.8; */
    justify-content: space-evenly;
  }

 
    






